@import url('./__item/photo-grid__item.css');

.photo-grid {
  max-width: 1184px;
  width: 95%;
  min-height: 671px;
  display: grid;
  margin: 0 auto;
  padding: 92px 0 12px 0;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
}

@media screen and (max-width: 1246px) {
  .photo-grid {
    max-width: 928px;
    min-height: 942px;
    grid-gap: 14px;
  }
}

@media screen and (max-width: 927px) {
  .photo-grid {
    max-width: 720px;
    min-height: 1664px;
    padding-top: 88px;
  }
}


@media screen and (max-width: 767px) {
  .photo-grid {
    max-width: 580px;
    min-height: 2000px;
    grid-gap: 12px;
    padding-top: 64px;
  }
}

@media screen and (max-width: 620px) {
  .photo-grid {
    max-width: 288px;
    min-height: 2724px;
    grid-gap: 12px;
    padding-top: 64px;
  }
}
