@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__image/lead__image.css');
@import url('./__caption/lead__caption.css');

.lead {
  margin: 0 auto;
  width: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;

}

@media screen and (max-width: 1024px) {
  .lead {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }
}
