.cover__subtitle {
  margin: 32px 35%;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  z-index: 5;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    margin: 32px 32%;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin: 32px 27%;
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin: 16px 5%;
  }
}
