.place__paragraphs {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .place__paragraphs {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 650px) {
  .place__paragraphs {
    margin: 0 16px;
  }
}
