@import url('./__logo/header__logo.css');
@import url('./__lang-links/header__lang-links.css');
@import url('./__lang-link/header__lang-link.css');
@import url('./__lang-link/_underline/header__lang-link_underline.css');

.header {
  display: flex;
  padding: 28px 48px 0px 48px;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 16px 16px 0px 16px;
  }
}
