.footer__links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 425px) {
  .footer__links {
    flex-direction: column;
    justify-content: space-around;
    min-height: 280px;
  }
}
