.lead__image {
  background-image: url('../../../images/lead__image.jpg');
  background-size: cover;
  background-repeat: round;
  margin: 0 0 8px 0;;
  width: 984px;
  height: 615px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__image {
    width: 928px;
    height: 580px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__image {
    width: 768px;
    height: 480px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .lead__image {
    width: 425px;
    height: 380px;
  }
}

@media screen and (max-width: 424px) {
  .lead__image {
    width: 320px;
    height: 200px;
  }
}
