.lead__image {
  /*background-image: url('../../../images/lead__image.jpg');
  background-size: cover;
  background-repeat: round;
  margin: 0 0 8px 0;
  padding-bottom: 65%;*/
  width: 100%;
}

/*@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__image {
    max-width: 928px;
    min-height: 580px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__image {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .lead__image {
    max-width: 425px;
    min-height: 380px;
  }
}

@media screen and (max-width: 424px) {
  .lead__image {
    max-width: 320px;
    min-height: 200px;
  }
}
