@import url('./__overlay/cover__overlay.css');
@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');

.cover {
  position: relative;
  margin: 0 auto;
  width: 95%;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}
