.cover__overlay {
  position: relative;
  margin: 92px auto ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../../images/cover__background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: center;*/
  max-width: 1184px;
  max-height: 740px;
  padding: 15% 0;
  text-decoration: none;
}

.cover__overlay:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  object-fit: contain;
  opacity: 0.3;
  transition: opacity 0.4s ease-out 0s;
}


.cover__overlay:hover:before {
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    max-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    max-height: 480px;
    margin: 86px auto ;
  }
}

@media screen and (max-width: 425px) {
  .cover__overlay {
    max-height: 375px;
    margin: 64px auto ;
  }
}

@media screen and (max-width: 375px) {
  .cover__overlay {
    min-height: 200px;
    margin: 64px auto ;
  }
}
