@import url('../vendor/normalize.css');
@import url('../fonts/inter.css');
@import url('../blocks/transparence/transparence.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css')
